In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("./data/vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y
...,...,...,...,...,...,...
960867,REH8UQZAXQS40,2,17,17,N,N
960868,RJ14QPZEOI9P8,5,9,10,N,N
960869,R2B1G5650WWFCE,5,3,16,N,N
960870,R2MMGPUWXXOFI2,4,0,0,N,N
960871,R2BZMVAERMRUDE,4,5,7,N,N

In [3]:
vine_df_20 = vine_df.loc[vine_df["total_votes"] >= 20]
vine_df_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1025,R6F9VY91ADPLA,1,8,30,N,N
1548,R3PXNV89DFIXKV,5,35,37,N,Y
...,...,...,...,...,...,...
960838,R7NJYD6L80A8,5,20,21,N,N
960851,R1721LXOWD6H3C,1,11,27,N,N
960860,R37CF8J75KF7ZR,2,35,66,N,N
960863,R1W6TRBVZSPGCJ,1,20,20,N,N
960866,R1LGRK91D2CS4N,4,32,39,N,N

In [4]:
vine_df_50 = vine_df_20.loc [(vine_df_20["helpful_votes"] / vine_df_20["total_votes"]) >= 0.50]
vine_df_50

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
...,...,...,...,...,...,...
960811,R3C9623WIPWVMB,5,56,58,N,N
960838,R7NJYD6L80A8,5,20,21,N,N
960860,R37CF8J75KF7ZR,2,35,66,N,N
960863,R1W6TRBVZSPGCJ,1,20,20,N,N
960866,R1LGRK91D2CS4N,4,32,39,N,N

In [13]:

paid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'Y'].count()
paid_reviews_df

review_id            47
star_rating          47
helpful_votes        47
total_votes          47
vine                 47
verified_purchase    47
dtype: int64

In [14]:
unpaid_reviews_df = vine_df_50.loc[vine_df_50["vine"] == 'N'].count()
unpaid_reviews_df

review_id            8362
star_rating          8362
helpful_votes        8362
total_votes          8362
vine                 8362
verified_purchase    8362
dtype: int64

In [7]:
paid_5star_reviews = paid_reviews_df.loc[paid_reviews_df['star_rating'] == 5]["star_rating"].count()
paid_5star_reviews

15

In [8]:
paid_reviews = paid_reviews_df["star_rating"].count()
paid_reviews

47

In [9]:
percentage_paid_5star_reviews = round ((paid_5star_reviews / paid_reviews) * 100, 2)
percentage_paid_5star_reviews

31.91

In [10]:
unpaid_5star_reviews = unpaid_reviews_df.loc[unpaid_reviews_df["star_rating"] == 5]["star_rating"].count()
unpaid_5star_reviews

4332

In [11]:
unpaid_reviews = unpaid_reviews_df["star_rating"].count()
unpaid_reviews

8362

In [12]:
percentage_unpaid_5star_reviews = round ((unpaid_5star_reviews / unpaid_reviews) * 100, 2)
percentage_unpaid_5star_reviews

51.81